html{
    height: 100%;
    width: 100%;
}

body{
    background-image: url("./flat-lay-batch-cooking-composition.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    min-height:100%;
}

div#content{
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    background-color: rgba(52, 127, 129, 0.692);
    border-top: rgba(0, 0, 0, 0.411) solid;
    border-left: rgba(0, 0, 0, 0.411) solid;
    border-right: rgba(0, 0, 0, 0.411) solid;
}

.tabDiv{
    display: flex;
    flex-direction: row;
    min-height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: end;
    background-color: rgba(52, 127, 129, 0.692);
}

.tabs{
    display: flex;
    height: 100%;
    flex:1;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 163, 168, 0.192);
    text-shadow: -1px 0px 0 white;
    font-size: 1.2em;
    font-weight: bolder;
    border-bottom: rgba(0, 0, 0, 0.521) solid;
}

.tabs:hover{
    background-color: rgba(1, 83, 83, 0.596);
    flex: 1.1;
}

.selected{
    background-color: rgba(202, 247, 255, 0.582);
    flex: 1.1; 
}

.selected:hover{
    background-color: rgba(202, 247, 255, 0.582);
}

div.tabDiv :nth-child(2){
    border-left:black solid;
    border-right: black solid;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

h1{
    font-size: 5rem;
    color: white;
    text-shadow: -2px 2px 0 rgb(0, 0, 0);

}

.homeHeader{
    margin-top: 30%;

}

.menuHeader{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 0 rgb(0, 0, 0);
    margin-bottom: 1rem;
    border-bottom: rgba(255, 255, 255, 0.582)  solid;
    width: 100%;
    text-align: center;
}

p{
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -1px 1px 0 white;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.582) ;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1rem 1em;;
}

.contactHeader{
    margin-top: 30%;
}

.contactInfo{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -1px 1px 0 white;
    margin-top: 1em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.582) ;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1rem 1em;;
}

.dish{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.dishItem{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom:rgba(255, 255, 255, 0.582)  solid;
    
}

.dishItem > .dishImage{
    flex:1;
    min-width: 0;
    min-height: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.dishText > .dishTitle{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 2em;
    text-shadow: -2px 2px 0 rgb(0, 0, 0);
}

.dishText > .dishDescription{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -1px 1px 0 rgb(255, 255, 255);
    padding: 1rem 0;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.582) ;
    text-align: center;
}

.dishItem > .dishText{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}
