html{
    height: 100%;
    width: 100%;
    border: tomato solid;
    margin-bottom: 0;
    /* overflow: scroll; */
}

body{
    background-image: url("./flat-lay-batch-cooking-composition.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    border: rgb(251, 255, 0) solid;
    height:100%;

}

div#content{
    display: flex;
    flex-direction: column;
   /*  position:absolute; */
    min-height: 100%;
    width: 70%;
    background-color: rgba(25, 103, 105, 0.692);
    /* align-items: center; */
    /* justify-content: center; */
    border: tan solid 5px;
}

.tabDiv{
    display: flex;
    flex-direction: row;
    /* position:absolute; */
    min-height: 5%;
    width: 100%;
    /* top: 0; */
    align-items: center;
    justify-content: end;
    /* border: solid rgba(0, 0, 0, 0.397); */
    background-color: rgba(68, 155, 158, 0.692);
}

.tabs{
    display: flex;
    height: 100%;
    flex:1;
    align-items: center;
    justify-content: center;
    background-color: rgba(5, 163, 168, 0.329);
    text-shadow: -1px 0px 0 white;
    font-size: 1.2em;
    font-weight: bolder;
    /* border: black solid; */
    /* text-align: center; */

}

.tabs:hover{
    background-color: rgba(1, 83, 83, 0.596);
    flex: 1.1;
}

.selected{
    background-color: rgba(0, 236, 236, 0.562);
    flex: 1.1; 
}

div.tabDiv :nth-child(2){
    border-left:black solid;
    border-right: black solid;
}

.contentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
   /*  justify-content: center; */
   /*  border: springgreen solid; */
    min-height: 100%;
    min-width: 100%;
}

h1{
    /* position:absolute; */
    font-size: 5rem;
    text-shadow: -1px 1px 0 white;

}

.menuHeader{
    font-size: 5rem;
    text-shadow: -1px 1px 0 white;
    border: tan solid;
}

p{
    color: cornsilk;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: -1px 1px 0 black;
    margin-top: 1em;
    text-align: center;
    /* outline: blueviolet solid; */
}

.dish{
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    /* background-color: thistle; */
    border: thistle solid;
    width: 100%;
    max-height: 100%;
}

.dishItem{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    border:steelblue solid;
    /* flex-grow: 1; */
    
}

img{
/*     width: 100%;
    max-height: 80%;
    min-height: auto; */
}

.dishItem > .dishImage{
 /*    max-width: 100%;
    max-height: 100%; */
/*     width: 100%;
    height: 8rem; */
    /* background-size: cover; */
    flex: 1;
}

.dishItem > .dishText{
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    flex: 1;
}
